<footer class="footer" role="contentinfo">
    <div>Copyright &copy; {{date format="YYYY"}} <a href="{{@site.url}}">{{@site.title}}</a> &bull; <a href="https://github.com/rohan-bansal/zombie">Zombie</a> &bull; All rights reserved.</div>
</footer>
