<footer class="footer" role="contentinfo">
    <div>Copyright &copy; {{date format="YYYY"}} <a href="{{@site.url}}">{{@site.title}}</a> &bull; All rights reserved.</div>
    <div>Inspired by <a href="https://github.com/itsmingjie/ganymede">Ganymede</a></div>
</footer>
