{{!< default}}

{{> header}}

<main class="main_minimal" role="main">

    <article class="article__wrapper" role="article">
        <header>
            <h1 class="post__title">
                Archives
            </h1>
            <div class="post__content">
               All my writing since the beginning of time (at least, since I started this blog).
            </div>
        </header>
    </article>

    <br />

    <hr class="post__separator">
    
    <br />
    <br />
    {{#get "posts" include="author,tags"}}
        <ol class="archives__ol">
            {{#foreach posts}}
            <li>
                <a class="archives__li" href="{{url}}">
                    <small class="archives__li_small">{{date format="YYYY-MM-DD"}}</small>
                    <strong class="archives__li_strong">{{title}}</strong>
                </a>
            </li>                
            {{/foreach}}
        </ol>
     
    {{/get}}

</main>

{{> footer}}