{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}
{{> header}}

<main class="main_minimal" role="main">

    <article class="article__wrapper" role="article">
        <header>
            <h1 class="post__title" style="text-align: center;">
                Blog
            </h1>
        </header>

        <section class="post__content-wrapper">
            <div class="post__content">
               A compendium of my musings, experiences, and tech talks.
            </div>
        </section>
    </article>

    <br />

    <hr class="post__separator">
    
    <br />
    <br />

    {{#foreach posts}}
        {{> card}}
    {{/foreach}}

</main>
{{pagination}}

{{> footer}}
